@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#imgWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 85vh;
}